
.pagetop{
	background-color: white;
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center center;
}

.pagetop img{
	 width: 1000px;
   max-width:100%;
   height:auto;
   position: relative;
}

.newjobpost {
  border-radius: 15px;
	background-color: var(--backgroundcolor);
	width: 600px;
	height: 140px;
	color: black;
	margin-top: 30px;
	float: left;
	margin-bottom: 50px;
}
.newjobpost > .inner {
	width: calc(100% - 20px);
	margin: 10px;
	height: calc(100% - 20px);
}

.newjobpost > .inner > .h1 {
  position: absolute;
	top: 0px;
	left: 5px;
	font-size: 20px;
/*	font-weight: bold;*/
	line-height: 40px;
	vertical-align: top;
	height: 40px;
}

.newjobpost > .inner > .h2 {
  font-size: 15px;
	line-height: 14px;
	height: 45px;
	width: 100%;
	position: absolute;
	top: 35px;
	left: 5px;
}

.newjobpost > .inner > .button{
  background-color: yellowgreen;
  position: absolute;
	right: 5px;
	bottom: 0px;
}

.numjobs {
	margin-top: 30px !important;
	margin: 0 0 0 30px;
	float: left;
	margin-bottom: 50px;
}
.numjobs > .column {
   float: left;
   width: 30%;
   padding: 10px;
   display: block;
   text-align: center;
}
.numjobs > .column >.h1 {
	font-size: 15px;
	float: left;
}
.numjobs > .column >.h2 {
   font-size: 25px;
   line-height: 35px;
   float: left;
   text-align: left;
   width: 234px;
}
.numjobs > .column > .number {
	border-top: 10px solid var(--emphasiscolor);
	padding: 35px;
	display: block;
	font-size: 35px;
	text-align: center;
	font-weight: bolder;
}
.numjobs > .column > .text {
	font-size: 15px;
	text-align: center;
}
.numjob:after {
  content: "";
  display: table;
  clear: both;
}
