
.pagetop {
	display: flex;
	justify-content: center; 
	align-items: center; 
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color:lightgrey !important;
}


.pagetop img{
   width: 1000px;
   max-width:100%;
   height:auto; 
}

.newjobpost {
    border-radius: 15px;
	background-color: var(--backgroundcolor);
	width: 600px;
	height: 140px;
	color: black;
	margin-top: 30px;
	float: left;
	margin-bottom: 50px;
}

.newjobpost button{
	background-color:orange;
	position: absolute;
	left: 200px;
	top: 680px;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	border-radius: 5px;
}

.newjobpost > .inner {
	width: calc(100% - 20px);
	margin: 10px;
	height: calc(100% - 20px);
}

.newjobpost h1 {
    position: absolute;
	top: 540px;
	left: 50px;
	font-size: 16px;
    font-weight: bold;
	line-height: 40px;
	vertical-align: top;
	height: 40px;
}

.newjobpost h2 {
    font-size: 12px;
	line-height: 14px;
	position: absolute;
	top: 600px;
	left: 50px;
}

.numjobs {
	margin-top: 30px !important;
	margin: 0 0 0 30px;
	float: left;
	margin-bottom: 50px;
}
.numjobs > .column {
   float: left;
   width: 30%;
   padding: 10px;
   display: block;
   text-align: center;
}
.numjobs > .column >.h1 {
	font-size: 15px;
	float: left;
}
.numjobs > .column >.h2 {
   font-size: 25px;
   line-height: 35px;
   float: left;
   text-align: left;
   width: 234px;
}
.numjobs > .column > .number {
	border-top: 10px solid var(--emphasiscolor);
	padding: 35px;
	display: block;
	font-size: 35px;
	text-align: center;
	font-weight: bolder;
}
.numjobs > .column > .text {
	font-size: 15px;
	text-align: center;
}
.numjob:after {
  content: "";
  display: table;
  clear: both;
}
